<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
    <h3>{{title}}</h3>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Page-specific content goes here -->
      <section class="single-post">
        <p>{{body}}</p>
        <p>Posted by: {{username}}</p>
        <p>Date: {{createdAt}}</p>
      </section>
    <!-- Display Existing Comments -->
     
      <section class="comments">
        <h5>Comments</h5>
        {{#if comments.length}}
          <ul>
            {{#each comments}}
            <li>
            <p>{{this.body}}</p>
            <p>Comment by: {{this.User.username}}</p>
            <p>Date: {{createdAt}}</p>
           </li>
            {{/each}}
          </ul>
        {{else}}
        <ul>
          <p>No comments yet.</p>
        </ul>
        
          {{/if}}
        </section>
      
      <!-- Comment Form -->
      <section class="comment-form">
      <h3>Leave a Comment</h3>
      <form id="comment-form" method="POST">
          <div class="form-group">
            <label for="commentBody">Leave a comment:</label>
            <textarea class="form-control" id="commentBody" name="body" rows="3" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </section>
    </main>
    <footer>
      <!-- Footer content here -->
    </footer>
  </div>

  <!-- Render script for logged-in users only -->
  {{#if logged_in}}
  <script src="/js/singlepost.js"></script>
  {{/if}}
</body>
</html>

